<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!-- Строка подключения к БД -->
    <add name="DefaultConnection" connectionString="Data Source=SENKOPC\SQLEXPRESS;Initial Catalog=ProjectPRCVI;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!-- Названия таблиц в БД -->
    <add name="OriginalsTableName" connectionString="dbo.Originals" providerName="System.Data.SqlClient"/>
    <add name="MarkupsTableName" connectionString="dbo.Markups" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>